.film-container {
    border: 2px solid #ccc;
    text-align: center;
    font-weight: 800;
}
.film-container img {
    display: inline-block;
}
.film-container h4 {
    position: relative;
}

.poster-image {
    width: 80%;
    max-height: 450px;
}
.description {
    width: 80%;
    margin: 10px auto;
}
.description p {
    padding: 10px 0;
}

.icon {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 30%;
    right: 4%;
    cursor: pointer;
}
.icon:hover {
    transform: scale(1.5, 1.5)
}


@media screen and (min-width: 600px) {
    .flex {
        display: flex;
    }
    
    .flex .poster-image {
        width: 40%;
        height: auto;
        margin: 20px
    }
    .poster-image {
        max-height: 300px;
    }

    .icon {
        width: 20px;
        height: 20px;
        top: 30%;
        right: 8%;
    }
    
    .description {
        text-align: left;
        padding: 10px;
    }
}

@media screen and (min-width: 1000px) {
    .poster-image {
        max-height: 500px;
    }
    .description {
        text-align: left;
        padding: 30px;
    }
}
