header {
    background-color: #ccc;
}

header h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
}

@media screen and (min-width: 600px) {
    header h2 {
        padding: 20px;
    }
}
